@font-face {
  font-family: 'steelfish';
  src: url(../assets/fonts/steelfish/steelfish.eot);
  src: url(../assets/fonts/steelfish/steelfish.eot?#iefix) format('embedded-opentype'), url(../assets/fonts/steelfish/steelfish.woff2) format('woff2'), url(../assets/fonts/steelfish/steelfish.woff) format('woff'), url(../assets/fonts/steelfish/steelfish.ttf) format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Bebas';
  src: url(../assets/fonts/BebasNeueBold.eot);
  src: url(../assets/fonts/BebasNeueBold.eot?#iefix) format('embedded-opentype'), url(../assets/fonts/BebasNeueBold.woff2) format('woff2'), url(../assets/fonts/BebasNeueBold.woff) format('woff'), url(../assets/fonts/BebasNeueBold.ttf) format('truetype');
  font-style: normal
}
