@import "utilits.scss";
@import 'modals.scss';

.hutplace-preloader {
  color:red;
  font-weight: 900;

  .loading-circle {
    border-left-color: red !important;

  }

  .loading-text {
    margin-top: 15px;
    color: yellow;
    font-size: 12px;
    font-family: 'Open Sans';
  }
}

body {
  overflow: hidden;
}


.full {
  width:100%;
  box-sizing: border-box;
}
.btn {
  padding: 20px 20px;
  text-align: center;
  font-weight: 800;
  list-style: none;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 3px 0px black;
  transition: .5s;

  a {
    text-decoration: none;

  }

  &:focus {
    outline: none;
  }

  &.btn-yellow {
    color: #393939;
    background-color: yellow;

    a {
      color: #393939;
    }

    &:hover {
      background-color: white;
      transition: .5s;
      color:#393939;
      a {
        color:#393939;
      }
    }

  }

  &.btn-black {
    color: white;
    background-color: #393939;
    box-shadow: 0px 0px 3px 0px black, 0px 0px 5px 2px white inset;

    a {
      color: white;
    }

    &:hover {
      box-shadow: 0px 0px 3px 0px black, 0px 0px 5px 2px yellow inset;

      transition: .5s;

    }

  }

  &.btn-black-2 {
    color: white;
    background-color: #393939;
    box-shadow: 0px 0px 3px 0px black;

    a {
      color: white;
    }

    &:hover {
      transition: .5s;
      background-color: white;
      transition: .5s;
      color:#393939;

      a {
        color:#393939;
      }

    }

    &.active {
      background-color: yellow;
      color:#393939;

    }
  }

  &.btn-primary {
    color: white;
    background-color: #7ab300;

    a {
      color: white;
    }

    &:hover {
      background-color: white;
      transition: .5s;
    }
  }

  &.btn-info {
    color: white;
    background-color: #007fb3;

    a {
      color: white;
    }

    &:hover {
      background-color: white;
      transition: .5s;
    }
  }

}

header, section, footer {
  width: 100%;
  @include flex(center, flex-start);

  .center {
    padding: 10px;
    box-sizing: border-box;
    width: $width;
    @include flex(space-between, center);

    @media (max-width: $width) {
      & {
        width:100%;
      }
    }
  }
}

header {
  height: 80px;
  .center {
    height: inherit;
  }
}

#app {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100vh;

  background-image: url('../assets/img/background.jpg');
  background-color: #393939;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

header {
  height: 80px;
  background-color: #393939;
  box-shadow: 0px 0px 6px 0px black;
  position: relative;
  z-index: 101;
  .center {
    @include flex(space-between, flex-start);


    .logo-wrapper {
      background-color: #393939;
      padding: 0 10px 10px 10px;
      box-sizing: border-box;
      position: relative;
      z-index: 2;

      &:after {
        content: '';
        width: 100%;
        height: 54px;
        bottom: 0;
        left: 0;
        z-index: 0;
        position: absolute;
        box-shadow: 7px 8px 2px -5px black;

      }

      .logo {
        width: 100px;
        transition: .5s;
      }

      @media (max-width: 700px) {
        & {
          background-color: transparent;
          &:after {
            content: none;

          }
          .logo {
            width: 60px;
            transition: .5s;
          }
        }
      }
    }

    .auth {
      @include flex(center, center);
      width: 300px;
      button {
        margin-left:10px;
      }
    }
    .user {
      @include flex(space-around, center);
      width: 300px;
      position: relative;
      z-index: 0;

      .info {

        p {
          text-align: left;
          color: white;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 10pt;
          line-height: 150%;

          &.pucks {
            color: yellow;
            font-weight: 600;

            strong {
              color: white;
            }
          }
        }

      }

      .avatar {
        border: 2px solid yellow;
        padding: 5px;
        position: relative;

        &:after {
          content: '';
          width: 20px;
          height: 1px;
          background: white;
          position: absolute;
          bottom: -5px;
          left: 22px;
        }
      }

      .dropdown {

        transition: .5s;
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: -75px;
        width: 100%;
        @include flex(flex-end, flex-start);

        ul {
          li {
            padding: 10px 25px;
            background-color: #393939;

            a {
              text-align: left;
              text-decoration: none;
              color: white;

              &:hover {
                color: yellow;
              }
            }
          }
        }
      }
    }

    .btn-mobile {
      display: none;
      width:200px;
      margin-left: -80px;
      @media (max-width: 1050px) {
        &{
          display: block;
        }

      }

      @media (max-width: 700px) {
        &{
          margin-left:-50px;
        }
      }

    }
    nav {
      @include flex(space-around, center);
      position: relative;
      border: none;
      li {
        margin-left:10px;
      }
      @media (max-width: 1050px) {
        & {
          width: 40px;
          height: 30px;
          border-top: 2px white solid;
          border-bottom: 2px white solid;

          top: 10px;
          right: 20px;


          &:after {
            content: '';
            width: 100%;
            position: absolute;
            top: 15px;
            left: 0;
            height: 2px;
            background: white;
          }
          li {
            display: none !important;
          }
        }
      }

    }
  }
}

aside {
  position: fixed;
  z-index: 100;
  top: 150px;
  left: 10px;
  width: 200px;

  nav {
    width: 100%;
    & > ul {
      width: 100%;
      & > li {
        margin-bottom: 5px;
        transition:.5s;

        box-sizing: border-box;

        &.more-menu {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          .lang {
            @include flex(center, center);

            a {
              padding: 5px;
            }
          }

          ul.more {
            li {
              cursor:pointer;
              a {
                text-align: center;
                color: lightgray;
                font-size: 16px;
                text-decoration: none;
                transition:.5s;


                &:hover {
                  color: yellow;
                }

                &.report {
                  font-weight: 900;
                  color: yellow;

                  &:hover {
                    color: darkred;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  @media (max-width: 1400px) {
    & {
      left:0px;
      width: 50px;
      &:hover {
        width: 200px;
      }
      & > nav {
        width: 50px;

        background-image: url('../assets/img/btn-menu.png');
        background-position: center center;
        background-color: yellow;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 2px 0px black;
        height: 50px;
        border-radius: 0px 50% 50% 0px;

        &:hover {
          background: none;
          box-shadow: none;
          width: auto;
          height: auto;
          border-radius: initial;

          & > ul {
            display: block;
          }
        }

        & > ul {
          display: none;
        }
      }
    }
  }

  @media (max-width: 600px) {
    & {
      left:0px;


      &:hover {
        padding-top:50px;
        width:100%;
        top:80px;
        background-color: #393939;
        & > nav {
          background: none;
          box-shadow: none;
          height: 100vh;
          border-radius: initial;
          width: 100%;

          & > ul {
            display: block;
            width: 100%;

            & > li {
              font-size: 24px;
              transition:.5s;

              &.more-menu {
                ul.more {
                  li {
                    a {
                      font-size: 18px;
                      line-height: 150%;
                      transition: .5s;
                    }
                  }
                }

              }
            }
            .btn {
              background-color: transparent;
              box-shadow: none;
              border:none;
            }
            .btn.btn-black-2 {
              box-shadow: none;
            }

            .btn.btn-yellow {
              color:yellow;
              &:hover {
                color:#393939;
              }
            }


          }
        }
      }

      & > nav {
        width: 50px;

        background-image: url('../assets/img/btn-menu.png');
        background-position: center center;
        background-color: yellow;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 2px 0px black;
        height: 50px;
        border-radius: 0px 50% 50% 0px;


        & > ul {
          display: none;
        }
      }
    }
  }
}

#pageContent {
  height: 100vh;

  width: 100%;
  .center {
    @include flex(center, center);

    @media (max-width: 600px) {
      & {
        width: 100%;
      }
    }
  }

}













